html {
  min-width: 1440px; 
}

*{
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-size: 20px;
  font-family: "Lora", "Vollkorn", serif;
  min-width: 1440px;
  background: #e5e5e5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1920px;
  min-width: 1450px;
  margin: 0 auto;  
  background-color: #ffffff;
}
  
.header {
  display: flex;
  min-height: 85px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #d6d6d6;
}

.wrapper-logo-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 172px;
  width: 557px;
}

.nav__link {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
  cursor: pointer;
}

.nav__link:hover{
  color: #01996D;
  border-bottom: 2px solid #01996D;
  transition: 0.1s linear;
}

.system-buttons {
  display: flex;
}

.btn__sing-in {
  border: none;
  background: #ffffff;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.sing-in_text {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.btn__start-trial {
  background: #01996d;
  border: none;  
  border-radius: 4px;
  padding: 13px 50px 13px 50px;
  cursor: pointer;
  outline: none;
  margin-left: 25px;
}

.start-trial_text {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 895px;
  background: no-repeat center url("img/img-header.png");
  background-size: cover;
}

.intro-block {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -460px;
  top: -90px;
  max-width: 440px;
}

.intro-title {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 74px;
  color: #01996d;
  margin-bottom: 30px;
}

.intro-text {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
  margin-bottom: 18px;
}

.intro-btn{
  max-width: 227px;
  padding: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #01996D;
  
}

.intro-btn_text{  
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  
  
}

.work{
  display: flex;
  justify-content: center;
}
  
.wrapper-work{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 169px;
  margin-bottom: 51px;
}  

.subtitle-text{
  font-family: "Lora";
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}

.work-top_block{
  display: flex;
}

.work-top_title__text{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

.work-top_txt{
  margin-top: 20px;
  margin-left: 136px;
  min-height: 269px;
  max-width: 695px;
}

.work-top_txt__text{
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.work_bottom--wrapper{
  display: flex;
}

.work__card1{
  display: flex;
  flex-direction: column;
  max-width: 390px;
}

.card1__icon{
  margin-left: 10px;
}

.card1__title{
  text-align: center;
}

.card1__title--text{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  position: relative;
  top: -34px;
  left: -18px;
}

.card1__description{
  margin-bottom: 60px;
}

.card1__description--text{
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.card1__img{
  min-height: 492px;
  min-width: 390px;
  background-image: url("img/card1.png");
}

.card1__img--mini{
  min-height: 144px;
  background: no-repeat url("img/img_mini-card1.png");
  position: relative;
  top: 225px;
  left: 205px;
}

.work__card2{
  display: flex;
  flex-direction: column;
  margin-top: 285px;
  margin-left: 95px;
}

.card2__icon{
  margin-left: 65px;
}

.card2__title{
  max-width: 405px;
  position: relative;
  top: -35px;
  left: 12px;
  right: 0;
}

.card2__title--text{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  text-align: right;
  color: #000000;
  
}

.card2__description{
  max-width: 420px;
  margin-bottom: 37px;
}

.card2__description--text{
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.card2__img{
  background-image: url("img/card2.png");
  background-size: cover;
  min-height: 492px;
  min-width: 390px;
}

.work__card3{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 95px;
}

.card3__icon{
  margin-left: 10px;
}

.card3__title{
  position: relative;
  top: -60px;
  left: -40px;
  text-align: center;
}

.card3__title--text{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
}

.card3__description{
  margin-bottom: 46px;
  max-width: 435px;
}

.card3__description--text{
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.card3__img{
  background-image: url("img/card3.png");
  max-width: 390px;
  min-height: 492px;
}

.history__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 922px;  
  background: #245852;    
}

.history__descripnion{
  display: flex;
  flex-direction: column;
  width: 592px;  
}

.history__descripnion--title{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.history__descripnion--text{
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #FFFFFF;
  margin-bottom: 57px;
}

.history__btn{
  background: #01996D;
  border: none;
  border-radius: 4px;
  max-width: 240px;
  padding: 20px 0;
  outline: none;
  cursor: pointer;
}

.history__btn--text{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.history__video--box{
  display: flex;  
  margin-left: 31px;
  min-height: 516px;
  min-width: 895px;   
  background-image: url("img/preview.png");
}

.history__video--style{  
  min-height: 516px;
  min-width: 895px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 5px #ffffff ;
}

.Our-product__wrapper{
  display: flex;
  justify-content: center;  
}

.Our-product__info{
  margin-top: 120px;
}

.Our-product__info--card{
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 296px;
  min-height: 293px;
  position: relative;
  left: -59px;
  top: -220px;
  border-radius: 3.72971px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}

.info__card--subtitle{
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 14.49px;
  line-height: 157%;
  margin-top: 22px;
  padding-bottom: 7px;
  color: #000000;
  border-bottom: 0.745942px solid #000000;
}

.img_card-info{
  margin-top: 13.7px;
  width: 57.44px;
  height: 57.44px;
}

.info__card--name{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 11.9351px;
  line-height: 157%;
  margin: 10.44px 0 20.24px ;
  color: #000000;
}

.info__card--title{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 15.9292px;
  line-height: 157%;  
  color: #000000;
  margin-bottom: 15.93px;
}

.info__card--ul{
  position: relative;
  left: -8px;
  margin: 0;
  padding: 0;
}

.info__card--li{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 10.6195px;
  line-height: 157%;  
  color: #000000;
  margin-top: 15.93px;
}

.info__card--li:first-child{
  margin-top: 0;
}

.Our__description{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 63.63px;
}

.Our__description--subtitle{
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #424242;
  margin-bottom: 10px;
}

.Our__description--title{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
  margin-bottom: 20px;
}

.Our__description--text{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
  margin-bottom: 40px;
}

.Our__description--btn{  
  max-width: 227px;    
  cursor: pointer;  
  background: #01996D;
  border: none;  
  border-radius: 4px;
  outline: none;
  padding: 20px 0;
}

.Our__description--btn-text{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__wrapper{
  height: 654px;
  background-color: #245852;  
  margin-bottom: 10px;
}

.footer__nav{
  display: flex;
  flex-direction: column;
  margin-left: 275px;

}

.foter__nav--logo-text{
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
  margin-top: 95px;
}

.footer__nav--style{
  display: flex;
  flex-direction: column;
}

.footer__nav--link{
  font-family:"Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 60px;
}